{{! Front page }}
{{> head}}
{{> navbar}}
<main>
    {{#if @config.custom.showIntroText}}
        <div class="intro-text">
            {{{@config.custom.introText}}}
        </div>
    {{/if}}

    {{#if @config.custom.showPostsListIndex}}
        {{! loop that generates a list of posts }}
        {{#each posts}}
            {{> postPreview}}
        {{/each}}
        {{! /loop that generates list of posts }}
        {{> pagination}}
    {{/if}}
</main>
{{#if @config.custom.showPostsListIndex}}
    <aside>
        {{> sidebar}}
    </aside>
{{/if}}
{{> footer}}